In [7]:
pip install pandas sqlalchemy psycopg2-binary pyarrow

Requirement already satisfied: sqlalchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.1.3'

In [3]:
#dataset: https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page
df = pd.read_parquet('yellow_tripdata_2023-01.parquet')
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime) if it is csv it show tpep_pickup_datetime as TEXT

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [7]:
print(pd.io.sql.get_schema(df,name='yellow_tripdata_2023-01.parquet'))

CREATE TABLE "yellow_tripdata_2023-01.parquet" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [ ]:
```
from time import time
df_iter = pd.read_csv('',iterator=True, chunksize=100000)
While True: 
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))
```

In [5]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

# PostgreSQL connection string
connection_string = 'postgresql://root:root@localhost:5432/ny_taxi'
engine = create_engine(connection_string)

# Path to your Parquet file
parquet_file_path = 'yellow_tripdata_2023-01.parquet'

# Open the Parquet file using PyArrow
parquet_file = pd.read_parquet('yellow_tripdata_2023-01.parquet')

def chunker(seq, size):
    for pos in range(0, len(seq), size):
        yield seq.iloc[pos:pos + size]

# Define the number of rows per chunk for database insertion
db_chunk_size = 10000

# Iterate over the DataFrame in chunks
for i, chunk in enumerate(chunker(df, db_chunk_size)):
    try:
        t_start = time()
        chunk.to_sql('yellow_taxi_data', engine, if_exists='append', index=False, chunksize=db_chunk_size)
        t_end = time()
        print(f"Chunk {i} inserted successfully, and took %.3f second" % (t_end - t_start))
    except Exception as e:
        print(f"Error inserting chunk {i}: {e}")

Chunk 0 inserted successfully, and took 0.919 second
Chunk 1 inserted successfully, and took 1.022 second
Chunk 2 inserted successfully, and took 1.251 second
Chunk 3 inserted successfully, and took 0.895 second
Chunk 4 inserted successfully, and took 0.862 second
Chunk 5 inserted successfully, and took 0.895 second
Chunk 6 inserted successfully, and took 0.880 second
Chunk 7 inserted successfully, and took 1.340 second
Chunk 8 inserted successfully, and took 0.942 second
Chunk 9 inserted successfully, and took 0.864 second
Chunk 10 inserted successfully, and took 0.925 second
Chunk 11 inserted successfully, and took 1.089 second
Chunk 12 inserted successfully, and took 1.089 second
Chunk 13 inserted successfully, and took 0.922 second
Chunk 14 inserted successfully, and took 0.923 second
Chunk 15 inserted successfully, and took 0.888 second
Chunk 16 inserted successfully, and took 0.889 second
Chunk 17 inserted successfully, and took 0.942 second
Chunk 18 inserted successfully, and took 1.137 second
Chunk 19 inserted successfully, and took 0.936 second
Chunk 20 inserted successfully, and took 0.938 second
Chunk 21 inserted successfully, and took 1.086 second
Chunk 22 inserted successfully, and took 1.005 second
Chunk 23 inserted successfully, and took 1.021 second
Chunk 24 inserted successfully, and took 1.001 second
Chunk 25 inserted successfully, and took 0.875 second
Chunk 26 inserted successfully, and took 0.874 second
Chunk 27 inserted successfully, and took 0.897 second
Chunk 28 inserted successfully, and took 0.901 second
Chunk 29 inserted successfully, and took 1.170 second
Chunk 30 inserted successfully, and took 1.098 second
Chunk 31 inserted successfully, and took 0.987 second
Chunk 32 inserted successfully, and took 0.902 second
Chunk 33 inserted successfully, and took 1.158 second
Chunk 34 inserted successfully, and took 0.986 second
Chunk 35 inserted successfully, and took 0.915 second
Chunk 36 inserted successfully, and took 0.864 second
Chunk 37 inserted successfully, and took 0.902 second
Chunk 38 inserted successfully, and took 0.925 second
Chunk 39 inserted successfully, and took 1.115 second
Chunk 40 inserted successfully, and took 1.125 second
Chunk 41 inserted successfully, and took 0.900 second
Chunk 42 inserted successfully, and took 0.866 second
Chunk 43 inserted successfully, and took 0.913 second
Chunk 44 inserted successfully, and took 0.925 second
Chunk 45 inserted successfully, and took 0.955 second
Chunk 46 inserted successfully, and took 0.934 second
Chunk 47 inserted successfully, and took 0.870 second
Chunk 48 inserted successfully, and took 0.932 second
Chunk 49 inserted successfully, and took 0.991 second
Chunk 50 inserted successfully, and took 1.326 second
Chunk 51 inserted successfully, and took 0.923 second
Chunk 52 inserted successfully, and took 0.895 second
Chunk 53 inserted successfully, and took 0.862 second
Chunk 54 inserted successfully, and took 0.948 second
Chunk 55 inserted successfully, and took 0.997 second
Chunk 56 inserted successfully, and took 0.910 second
Chunk 57 inserted successfully, and took 0.897 second
Chunk 58 inserted successfully, and took 0.862 second
Chunk 59 inserted successfully, and took 0.905 second
Chunk 60 inserted successfully, and took 1.134 second
Chunk 61 inserted successfully, and took 1.079 second
Chunk 62 inserted successfully, and took 0.935 second
Chunk 63 inserted successfully, and took 0.986 second
Chunk 64 inserted successfully, and took 0.851 second
Chunk 65 inserted successfully, and took 0.955 second
Chunk 66 inserted successfully, and took 0.934 second
Chunk 67 inserted successfully, and took 0.946 second
Chunk 68 inserted successfully, and took 0.944 second
Chunk 69 inserted successfully, and took 0.889 second
Chunk 70 inserted successfully, and took 1.183 second
Chunk 71 inserted successfully, and took 1.036 second
Chunk 72 inserted successfully, and took 0.993 second
Chunk 73 inserted successfully, and took 0.941 second
Chunk 74 inserted successfully, and took 0.936 second
Chunk 75 inserted successfully, and took 0.880 second
Chunk 76 inserted successfully, and took 0.941 second
Chunk 77 inserted successfully, and took 0.974 second
Chunk 78 inserted successfully, and took 0.965 second
Chunk 79 inserted successfully, and took 0.880 second
Chunk 80 inserted successfully, and took 1.128 second
Chunk 81 inserted successfully, and took 0.913 second
Chunk 82 inserted successfully, and took 1.095 second
Chunk 83 inserted successfully, and took 0.867 second
Chunk 84 inserted successfully, and took 0.930 second
Chunk 85 inserted successfully, and took 0.905 second
Chunk 86 inserted successfully, and took 0.936 second
Chunk 87 inserted successfully, and took 0.905 second
Chunk 88 inserted successfully, and took 0.954 second
Chunk 89 inserted successfully, and took 0.948 second
Chunk 90 inserted successfully, and took 0.875 second
Chunk 91 inserted successfully, and took 1.176 second
Chunk 92 inserted successfully, and took 0.880 second
Chunk 93 inserted successfully, and took 1.086 second
Chunk 94 inserted successfully, and took 0.881 second
Chunk 95 inserted successfully, and took 1.408 second
Chunk 96 inserted successfully, and took 1.118 second
Chunk 97 inserted successfully, and took 1.103 second
Chunk 98 inserted successfully, and took 1.018 second
Chunk 99 inserted successfully, and took 1.033 second
Chunk 100 inserted successfully, and took 0.890 second
Chunk 101 inserted successfully, and took 1.170 second
Chunk 102 inserted successfully, and took 0.901 second
Chunk 103 inserted successfully, and took 1.120 second
Chunk 104 inserted successfully, and took 0.927 second
Chunk 105 inserted successfully, and took 0.931 second
Chunk 106 inserted successfully, and took 0.929 second
Chunk 107 inserted successfully, and took 0.891 second
Chunk 108 inserted successfully, and took 0.934 second
Chunk 109 inserted successfully, and took 0.878 second
Chunk 110 inserted successfully, and took 0.969 second
Chunk 111 inserted successfully, and took 1.120 second
Chunk 112 inserted successfully, and took 0.949 second
Chunk 113 inserted successfully, and took 0.871 second
Chunk 114 inserted successfully, and took 1.071 second
Chunk 115 inserted successfully, and took 0.867 second
Chunk 116 inserted successfully, and took 0.965 second
Chunk 117 inserted successfully, and took 0.957 second
Chunk 118 inserted successfully, and took 0.919 second
Chunk 119 inserted successfully, and took 0.988 second
Chunk 120 inserted successfully, and took 1.142 second
Chunk 121 inserted successfully, and took 0.926 second
Chunk 122 inserted successfully, and took 0.939 second
Chunk 123 inserted successfully, and took 0.876 second
Chunk 124 inserted successfully, and took 1.054 second
Chunk 125 inserted successfully, and took 0.903 second
Chunk 126 inserted successfully, and took 1.029 second
Chunk 127 inserted successfully, and took 0.917 second
Chunk 128 inserted successfully, and took 0.895 second
Chunk 129 inserted successfully, and took 0.905 second
Chunk 130 inserted successfully, and took 0.953 second
Chunk 131 inserted successfully, and took 1.143 second
Chunk 132 inserted successfully, and took 0.929 second
Chunk 133 inserted successfully, and took 0.933 second
Chunk 134 inserted successfully, and took 0.870 second
Chunk 135 inserted successfully, and took 1.083 second
Chunk 136 inserted successfully, and took 0.878 second
Chunk 137 inserted successfully, and took 0.906 second
Chunk 138 inserted successfully, and took 0.978 second
Chunk 139 inserted successfully, and took 0.884 second
Chunk 140 inserted successfully, and took 0.961 second
Chunk 141 inserted successfully, and took 0.879 second
Chunk 142 inserted successfully, and took 1.153 second
Chunk 143 inserted successfully, and took 1.028 second
Chunk 144 inserted successfully, and took 0.972 second
Chunk 145 inserted successfully, and took 0.922 second
Chunk 146 inserted successfully, and took 1.046 second
Chunk 147 inserted successfully, and took 0.899 second
Chunk 148 inserted successfully, and took 0.990 second
Chunk 149 inserted successfully, and took 1.016 second
Chunk 150 inserted successfully, and took 0.955 second
Chunk 151 inserted successfully, and took 0.950 second
Chunk 152 inserted successfully, and took 1.168 second
Chunk 153 inserted successfully, and took 0.912 second
Chunk 154 inserted successfully, and took 1.101 second
Chunk 155 inserted successfully, and took 0.894 second
Chunk 156 inserted successfully, and took 1.201 second
Chunk 157 inserted successfully, and took 0.880 second
Chunk 158 inserted successfully, and took 0.978 second
Chunk 159 inserted successfully, and took 0.999 second
Chunk 160 inserted successfully, and took 0.958 second
Chunk 161 inserted successfully, and took 0.980 second
Chunk 162 inserted successfully, and took 1.133 second
Chunk 163 inserted successfully, and took 0.921 second
Chunk 164 inserted successfully, and took 1.043 second
Chunk 165 inserted successfully, and took 0.912 second
Chunk 166 inserted successfully, and took 1.035 second
Chunk 167 inserted successfully, and took 0.910 second
Chunk 168 inserted successfully, and took 0.877 second
Chunk 169 inserted successfully, and took 0.972 second
Chunk 170 inserted successfully, and took 0.969 second
Chunk 171 inserted successfully, and took 0.969 second
Chunk 172 inserted successfully, and took 0.887 second
Chunk 173 inserted successfully, and took 1.159 second
Chunk 174 inserted successfully, and took 0.881 second
Chunk 175 inserted successfully, and took 1.001 second
Chunk 176 inserted successfully, and took 0.871 second
Chunk 177 inserted successfully, and took 1.072 second
Chunk 178 inserted successfully, and took 0.912 second
Chunk 179 inserted successfully, and took 0.869 second
Chunk 180 inserted successfully, and took 1.027 second
Chunk 181 inserted successfully, and took 0.892 second
Chunk 182 inserted successfully, and took 0.992 second
Chunk 183 inserted successfully, and took 0.889 second
Chunk 184 inserted successfully, and took 1.144 second
Chunk 185 inserted successfully, and took 0.934 second
Chunk 186 inserted successfully, and took 0.959 second
Chunk 187 inserted successfully, and took 0.999 second
Chunk 188 inserted successfully, and took 1.047 second
Chunk 189 inserted successfully, and took 1.162 second
Chunk 190 inserted successfully, and took 1.027 second
Chunk 191 inserted successfully, and took 0.985 second
Chunk 192 inserted successfully, and took 1.187 second
Chunk 193 inserted successfully, and took 0.894 second
Chunk 194 inserted successfully, and took 1.205 second
Chunk 195 inserted successfully, and took 0.956 second
Chunk 196 inserted successfully, and took 0.979 second
Chunk 197 inserted successfully, and took 1.043 second
Chunk 198 inserted successfully, and took 0.957 second
Chunk 199 inserted successfully, and took 0.878 second
Chunk 200 inserted successfully, and took 0.943 second
Chunk 201 inserted successfully, and took 1.028 second
Chunk 202 inserted successfully, and took 0.899 second
Chunk 203 inserted successfully, and took 1.014 second
Chunk 204 inserted successfully, and took 0.886 second
Chunk 205 inserted successfully, and took 1.198 second
Chunk 206 inserted successfully, and took 0.896 second
Chunk 207 inserted successfully, and took 1.069 second
Chunk 208 inserted successfully, and took 1.049 second
Chunk 209 inserted successfully, and took 0.908 second
Chunk 210 inserted successfully, and took 0.895 second
Chunk 211 inserted successfully, and took 0.952 second
Chunk 212 inserted successfully, and took 0.923 second
Chunk 213 inserted successfully, and took 1.040 second
Chunk 214 inserted successfully, and took 0.897 second
Chunk 215 inserted successfully, and took 0.882 second
Chunk 216 inserted successfully, and took 0.999 second
Chunk 217 inserted successfully, and took 1.264 second
Chunk 218 inserted successfully, and took 1.009 second
Chunk 219 inserted successfully, and took 1.076 second
Chunk 220 inserted successfully, and took 1.000 second
Chunk 221 inserted successfully, and took 0.964 second
Chunk 222 inserted successfully, and took 0.913 second
Chunk 223 inserted successfully, and took 0.926 second
Chunk 224 inserted successfully, and took 0.984 second
Chunk 225 inserted successfully, and took 0.993 second
Chunk 226 inserted successfully, and took 0.947 second
Chunk 227 inserted successfully, and took 1.135 second
Chunk 228 inserted successfully, and took 0.975 second
Chunk 229 inserted successfully, and took 1.043 second
Chunk 230 inserted successfully, and took 0.932 second
Chunk 231 inserted successfully, and took 0.998 second
Chunk 232 inserted successfully, and took 0.914 second
Chunk 233 inserted successfully, and took 0.915 second
Chunk 234 inserted successfully, and took 0.985 second
Chunk 235 inserted successfully, and took 0.887 second
Chunk 236 inserted successfully, and took 0.887 second
Chunk 237 inserted successfully, and took 1.248 second
Chunk 238 inserted successfully, and took 0.876 second
Chunk 239 inserted successfully, and took 1.125 second
Chunk 240 inserted successfully, and took 0.892 second
Chunk 241 inserted successfully, and took 0.926 second
Chunk 242 inserted successfully, and took 0.922 second
Chunk 243 inserted successfully, and took 1.025 second
Chunk 244 inserted successfully, and took 0.930 second
Chunk 245 inserted successfully, and took 0.984 second
Chunk 246 inserted successfully, and took 0.867 second
Chunk 247 inserted successfully, and took 0.986 second
Chunk 248 inserted successfully, and took 0.945 second
Chunk 249 inserted successfully, and took 1.299 second
Chunk 250 inserted successfully, and took 1.201 second
Chunk 251 inserted successfully, and took 1.027 second
Chunk 252 inserted successfully, and took 0.952 second
Chunk 253 inserted successfully, and took 0.929 second
Chunk 254 inserted successfully, and took 0.868 second
Chunk 255 inserted successfully, and took 1.092 second
Chunk 256 inserted successfully, and took 0.873 second
Chunk 257 inserted successfully, and took 0.944 second
Chunk 258 inserted successfully, and took 0.883 second
Chunk 259 inserted successfully, and took 0.896 second
Chunk 260 inserted successfully, and took 1.188 second
Chunk 261 inserted successfully, and took 1.175 second
Chunk 262 inserted successfully, and took 0.903 second
Chunk 263 inserted successfully, and took 0.899 second
Chunk 264 inserted successfully, and took 0.909 second
Chunk 265 inserted successfully, and took 0.886 second
Chunk 266 inserted successfully, and took 1.168 second
Chunk 267 inserted successfully, and took 0.879 second
Chunk 268 inserted successfully, and took 0.971 second
Chunk 269 inserted successfully, and took 0.886 second
Chunk 270 inserted successfully, and took 0.909 second
Chunk 271 inserted successfully, and took 1.122 second
Chunk 272 inserted successfully, and took 1.287 second
Chunk 273 inserted successfully, and took 0.963 second
Chunk 274 inserted successfully, and took 0.906 second
Chunk 275 inserted successfully, and took 0.889 second
Chunk 276 inserted successfully, and took 1.054 second
Chunk 277 inserted successfully, and took 0.923 second
Chunk 278 inserted successfully, and took 1.136 second
Chunk 279 inserted successfully, and took 0.884 second
Chunk 280 inserted successfully, and took 0.881 second
Chunk 281 inserted successfully, and took 1.085 second
Chunk 282 inserted successfully, and took 1.329 second
Chunk 283 inserted successfully, and took 0.931 second
Chunk 284 inserted successfully, and took 1.016 second
Chunk 285 inserted successfully, and took 0.880 second
Chunk 286 inserted successfully, and took 0.982 second
Chunk 287 inserted successfully, and took 0.952 second
Chunk 288 inserted successfully, and took 0.881 second
Chunk 289 inserted successfully, and took 0.940 second
Chunk 290 inserted successfully, and took 0.995 second
Chunk 291 inserted successfully, and took 0.928 second
Chunk 292 inserted successfully, and took 1.102 second
Chunk 293 inserted successfully, and took 0.916 second
Chunk 294 inserted successfully, and took 0.939 second
Chunk 295 inserted successfully, and took 1.178 second
Chunk 296 inserted successfully, and took 1.009 second
Chunk 297 inserted successfully, and took 1.021 second
Chunk 298 inserted successfully, and took 0.906 second
Chunk 299 inserted successfully, and took 0.919 second
Chunk 300 inserted successfully, and took 0.780 second
Chunk 301 inserted successfully, and took 0.788 second
Chunk 302 inserted successfully, and took 0.821 second
Chunk 303 inserted successfully, and took 1.040 second
Chunk 304 inserted successfully, and took 0.838 second
Chunk 305 inserted successfully, and took 0.829 second
Chunk 306 inserted successfully, and took 0.544 second

In [8]:
# load zone data
import pandas as pd
from sqlalchemy import create_engine
lookup_df = pd.read_csv('taxi_zone_lookup.csv')
# PostgreSQL connection string
connection_string = 'postgresql://root:root@localhost:5432/ny_taxi'
engine = create_engine(connection_string)
lookup_df.to_sql(name='zones', con=engine, if_exists='replace')

265